body {
  width: 80%;
  margin: 5%;
  padding: 5%;
  background-color: bisque;
}

.main-div {
  position: relative;
  left: 2%;
  right: 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
button{
  color: white;
  background-color: orange;
  border-radius: 5px;
  border-color: white;
  font-weight: 600;
}
input{
  border-radius: 10px;
  border-color: orange;
  border: solid orange;
  height: 40px;
  font-style: italic;
}
.scores-part,
.submit-part {
  padding: 10px;
  width: 40%;
}
h1{
  font-size: 40px;
  font-weight: 800;
}
h2{
  font-size: 30px;
  font-weight: 800;
  font-style: italic;
}

.score-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.refresh {
  width: 20%;
  height: 40px;
  margin-top: 20px;
}
.reset{
    width: 20%;
    height: 40px;
    margin-top: 20px;
  
}

.submit-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}


.submit {
  width: 20%;
  height: 40px;
  position: relative;
  left: 80%;
}

.scores {
  width: 100%;
  border: solid orange;
  height: 300px;
  overflow: auto;
}

.scores::-webkit-scrollbar {
  width: 0;
}

.scores > div {
  border: 1px solid orange;
  position: relative;
  padding-left: 10px;
  display: flex;
  flex-direction: row;
  gap: 10%;
  font-size: 20px;
  font-weight: 500;
  border-radius: 6px;
  /* height: 40px; */
  background-color: white;
}
